/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  z-index: 100;
  flex-grow: 1;
}

/* Full width page blocks */
.outer {
  position: relative;
  padding: 0 5vw;
}

/* Centered content container blocks */
.inner {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

/* Usage:

<div class="outer">
  <div class="inner">
      Centered content
  </div>
</div>

*/

.highlight-line {
  background-color: rgb(53, 59, 69);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.3em solid #fff;
}

.post-full-content {
  position: relative;
  margin: 0 auto;
  padding: 0 130px 6vw;
  min-height: 230px;
  font-size: 20px;
  font-family: Georgia, serif;
  background: #fff;
}

@media (max-width: 1170px) {
  .post-full-content {
    padding: 0 11vw;
  }
}
@media (max-width: 800px) {
  .post-full-content {
    padding: 0 5vw;
  }
}
@media (max-width: 500px) {
  .post-full-custom-excerpt {
    font-size: 1.9rem;
    line-height: 1.5em;
  }
}
